<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Contacto</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/tabICN.ico"> -->
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="center">
        <h1>Sign Up</h1>
        <form method="post">
            <div class="profile-picture">
                <img src="static/profile-picture.jpg">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>First Name</label>
            </div>
            <div class="txt_field">
                <input type="text">
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="txt_field">
                <input type="text">
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="tel" required>
                <span></span>
                <label>Phone Number</label>
            </div>
            <div class="txt_field">
                <input type="text">
                <span></span>
                <label>Note</label>
            </div>
            <div class="txt_field">
                <input type="text">
                <span></span>
                <label>Category</label>
            </div>

            <input type="submit" value="Add User">
            <br /><br />
        </form>

    </div>

</body>





</html>