<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
		<title>Contacto</title>
     <!-- <link rel="icon" type="image/x-icon" href="/static/tabICN.ico"> -->
		<link rel="stylesheet" href="static\style.css">
		
    </head>
    <body>
      <div class="center">
        <h1>Sign Up</h1>
        <form method="post">
             <div class="txt_field">
                <input type="text" required name="first_name">
                <span></span>
                  <label>First Name</label>
              </div>
              <div class="txt_field">
                <input type="text" required name="last_name">
                <span></span>
                  <label>Last Name</label>
              </div>
            <div class="txt_field">
              <input type="text" required name="email">
              <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" required name="password">
                <span></span>
                <label>Password</label>
            </div>

            <input type="submit" value="Sign Up">
            <div class="login_link">
              Already a member?<a href="login">Login</a> <!-- Needs to have sign up link attached -->
            </div>
        </form>
      </div>

    </body>





</html>




</html>